/Bank/dist/
/Bank/build/
/Esemenyek/nbproject/private/
/ObserverPattern/nbproject/private/
/MasterMind/build/
/MasterMind/dist/
/MasterMind/nbproject/private/
/MasterMindOnline/build/
/MasterMindOnline/dist/
/MasterMindOnline/nbproject/private/